parameters:
    level: 9
    paths:
        - src
        - tests
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
